__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
.DS_Store
.ipynb_checkpoints/
logs/
data/raw/
models/checkpoints/
models/pretrained/
models/exports/onnx/
models/exports/tflite/
models/exports/tensorrt/
database/*.db
*.h5
*.pt
*.pth
.venv/
venv/
